/*

   BORDER WIDTHS
   Docs: http://tachyons.io/docs/themes/borders/

   Base:
     bw = border-width

   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale
     5 = 5th step in border-width scale

   Media Query Extensions:
     -p = print

*/

@media print {
  .bw0-p { border-width: var(--border-width-none); }
  .bw1-p { border-width: var(--border-width-1); }
  .bw2-p { border-width: var(--border-width-2); }
  .bw3-p { border-width: var(--border-width-3); }
  .bw4-p { border-width: var(--border-width-4); }
  .bw5-p { border-width: var(--border-width-5); }
  .bt-0-p { border-top-width: var(--border-width-none) }
  .br-0-p { border-right-width: var(--border-width-none) }
  .bb-0-p { border-bottom-width: var(--border-width-none) }
  .bl-0-p { border-left-width: var(--border-width-none) }
}
