/*

   LETTER SPACING
   Docs: http://tachyons.io/docs/typography/tracking/

   Media Query Extensions:
     -p = print

*/

@media print {
  .tracked-p       { letter-spacing:  var(--letter-spacing-1); }
  .tracked-tight-p { letter-spacing: var(--letter-spacing-tight); }
  .tracked-mega-p  { letter-spacing:  var(--letter-spacing-2); }
}
