/*

   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height

   Media Query Extensions:
     -p = print

*/

@media print {
  .lh-solid-p { line-height: var(--line-height-solid); }
  .lh-title-p { line-height: var(--line-height-title); }
  .lh-copy-p  { line-height: var(--line-height-copy); }
}
