/*

   TEXT TRANSFORM
   Docs: http://tachyons.io/docs/typography/text-transform/

   Base:
     tt = text-transform

   Modifiers
     c = capitalize
     l = lowercase
     u = uppercase
     n = none

   Media Query Extensions:
     -p = print

*/

@media print {
  .ttc-p { text-transform: capitalize; }
  .ttl-p { text-transform: lowercase; }
  .ttu-p { text-transform: uppercase; }
  .ttn-p { text-transform: none; }
}
