/*

   TYPOGRAPHY
   http://tachyons.io/docs/typography/measure/

   Media Query Extensions:
     -p = print

*/

@media print {
  .measure-p  {
    max-width: var(--measure);
  }
  .measure-wide-p {
    max-width: var(--measure-wide);
  }
  .measure-narrow-p {
    max-width: var(--measure-narrow);
  }
  .indent-p {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .small-caps-p {
    font-variant: small-caps;
  }
  .truncate-p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
